<div class="container" ng-controller="PerfilController">
    <form>
        <div class="form-group">
            <label for="nombre">Nombre</label>
            <input type="text" class="form-control" id="nombre" value="{{usuario.nombre}}">
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" value="{{usuario.email}}">
        </div>
        <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" id="pwd" value="{{usuario.password}}">
        </div>
        <div class="form-group">
            <label for="pwd2">Confirmar password:</label>
            <input type="password" class="form-control" id="pwd2" value="{{usuario.password}}">
        </div>
        <div class="form-group">
            <label for="dir">Direccion</label>
            <input type="text" class="form-control" id="dir" value="{{usuario.direccion}}">
        </div>
        <div class="form-group">
            <label for="cp">CP</label>
            <input type="text" class="form-control" id="cp" value="{{usuario.cp}}">
        </div>
        <div class="form-group">
            <label for="pais">Pais</label>
            <input type="text" class="form-control" id="pais" value="{{usuario.pais}}">
        </div>
        <div class="form-group">
            <label for="ciudad">Ciudad</label>
            <input type="text" class="form-control" id="ciudad" value="{{usuario.ciudad}}">
        </div>
        <button type="submit" class="btn btn-default">Guardar</button>
    </form>
</div>
