@media (min-width: 768px) {
    .sidebar-nav .navbar .navbar-collapse {
        padding: 0;
        max-height: none;
    }
    .sidebar-nav .navbar ul {
        float: none;
    }
    .sidebar-nav .navbar ul:not {
        display: block;
    }
    .sidebar-nav .navbar li {
        float: none;
        display: block;
    }
    .sidebar-nav .navbar li a {
        padding-top: 12px;
        padding-bottom: 12px;
    }
}
body {
    padding-top: 30px;
}
@media (max-width: 979px) {
  body {
    padding-top: 0px;
  }
}
.leftspan {
    padding-right: 20px;
    border-right: 1px solid #ccc;
}
.row-fluid .rightspan {
    margin-left: -0.138297872340425%;
    *margin-left: -0.13191489361702%;
    padding-left: 20px;
    border-left: 1px solid #ccc;
}
.row-fluid .rightspan:first-child {
    margin-left: -0.11063829787234%;
    *margin-left: -0.104255319148938%;
}
